<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link rel="stylesheet" href="/css/styler3.css">
</head>
<body>

<h1>Customers list</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Street</th>
        <th>Number</th>
        <th>ZIP</th>
        <th>City</th>
        <th>Nation</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.surname}"></td>
        <td th:text="${customer.age}"></td>
        <td th:text="${customer.address.street}"></td>
        <td th:text="${customer.address.num}"></td>
        <td th:text="${customer.address.zip}"></td>
        <td th:text="${customer.address.city}"></td>
        <td th:text="${customer.address.nation}"></td>
    </tr>


    </tbody>
</table>

<br>

<h3><a href="/customers/reservations">Reservations List</a></h3>
<h3><a href="/customers/mealgroups">Show meal groups list</a></h3>
<h3><a href="/customers/insert">Add a new customer</a></h3>
<h3><a href="/h2-console/login.do?jsessionid=66d937b23e18dcac56a4e29e96a0b3ff">Show DB</a></h3>
</body>
</html>